<footer class="page-footer purply">
  <div class="container ">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">COVID-19 Microgrants</h5>
        <p class="grey-text text-lighten-4">This web application makes it easy to request and give microgrants to people whose livelihood is adversely affected by COVID-19.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Find Me</h5>
        <ul>
          <li><a target=" " class="grey-text text-lighten-4" href="https://github.com/liliumcwu/covid-microgrants">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020 the mutual aiders
    </div>
  </div>
</footer>
