<main>
    <div class="form-wrap">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s9">
              <input id="requester_name" type="text">
              <label for="requester_name">Write your name (initials are fine)</label>
            </div>
            <div class="input-field col s3">
              <input id="email" type="text">
              <label for="email">Write your email (Ex: jo@emails.com)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s3">
              <input id="venmo_username" type="text">
              <label for="venmo_username">Write your venmo username (Ex: @jo1)</label>
            </div>
            <div class="input-field col s3">
              <input id="min_amount" type="text">
              <label for="min_amount">The minimum amount you're requesting</label>
            </div>
            <div class="input-field col s3">
              <input id="max_amount" type="text">
              <label for="max_amount">The maximum amount you're requesting</label>
            </div>
          </div>
        </form>
        <button class="waves-effect blue-grey darken-2 waves-light btn" id="index-submit-button">Submit</button>
      </div>
      {{!-- <div class="row">
        <div class="input-field col s3">
          <input id="wrong-a" type="text">
          <label for="wrong-a">Write wrong answer #1 (Ex:1.77245)</label>
        </div>
        <div class="input-field col s3">
          <input id="wrong-b" type="text">
          <label for="wrong-b">Write wrong answer #2</label>
        </div>
        <div class="input-field col s3">
          <input id="wrong-c" type="text">
          <label for="wrong-c">Write wrong answer #3</label>
        </div>
      </div> --}}
{{!--       <button class="waves-effect blue-grey darken-2 waves-light btn" id="submit-button">Submit</button>
 --}}    </div>
</main>
